/* == heading == */
.heading{    
    font-weight: bold;
    color: #494949;
}

.heading\:1, .heading\:2, .heading\:3{
    font-weight: bold;
    color: #494949;
}

.heading\:1{
    font-size: 18px;
    /* font-weight: bold;
    color: #494949; */
}

.heading\:2{
    font-size: 16px;
    /* font-weight: bold;
    color: #494949; */
}

.heading\:3{
    font-size: 14px;
    /* font-weight: bold;
    color: #494949; */
}
