html{

}
body{
    height: inherit;
    margin: 0;
}
#root{
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between ;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #F9F7F5;
    padding: 16px;
    box-sizing: border-box;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.header>div{
    /* display: flex; */
    font-size: 16px;
}

.logo{

}
.logo>a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #B8672E;
}

.link{
    
}
.link>a{
    color: #494949;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20;
  color: #494949;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    background-color: #F9F7F5;
}

.chart-sec{
    width: 100%;
}
.chart-sec>h1{
    text-align: center;
    color: #494949;
    font-weight: bold;
    margin-bottom: 48px;
    padding: 8px 0px;
}

.chart{
    width: 100%;
    margin-bottom: 48px;
}
.chart>h1{
    text-align: center;
    color: #494949;
    font-size: 16px;
    margin-bottom: 16px;
}

.chart\:1{
    
}

.chart\:2{
    
}
.chart>div{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.chart>div>img{
    width: 100%;
}

.chart\:2>div>img{
    width: 70%;
}


.tool-bar{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #F9F7F5;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.tool-bar>h1{
    display: none;
}

.tool-bar>ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tool-bar>ul>li{
    text-align: center;
    width: 33%;
    height: 64px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.tool-bar>ul>li>a{
    width: 100%;
    
}
.footer{
    background-color: #fff;
    box-sizing: border-box;
    padding: 100px 20px;
    color: #8E6244;
}

.footer>section> h1 + div{
    display: flex;
    justify-content:space-around ;
}
.footer>section>h1{
    display: none;
}
.company{
    /* width: 50%; */
    font-size: 12px;
}
.company>h1{
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: right;
}
.company\:1{

}
.company\:2{

}
.company>dl{
    float: left;
    border-left: 1px solid #e9e9e9 ;
    padding-left: 10px;
    max-width: 70%;
}
.company>dl>dt{
    color: #b3b3b3;
    font-size: 10px;
}
.company>dl>dd{
    padding-left: 1px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #585858;
}
.corp{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    font-size: 12px;
}
.corp>ul{
    
}
.corp>ul>li{
    display: inline-block;
}
.corp>ul>li + li:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: #e9e9e9;
    vertical-align: -1px;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
