/* 공통 */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #444444;
}

#root {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 956px;
    max-width: 440px;
    max-height: 956px;
    box-sizing: border-box;
    background-color: #F9F7F5;
    margin: 40px auto;
}

.header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 64px;
    background-color: #F9F7F5;
    position: sticky;
    top: 0;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    flex-shrink: 0;
}

.header a{
    font-size: 16px;
    font-weight: bold;
}

main {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    background-color: #F9F7F5;
    padding: 0 24px;
}

.nav {
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    position: sticky;
    background-color: #F9F7F5;
    border-top: 3px solid #E9E9E9;
    bottom: 0;
    flex-shrink: 0;
}

.nav h1 {
    display: none;
}

.nav ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px 12px 48px;
}

/* 개인 */

.main_section {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px
}

.main_section>h1{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 8px 0;
    box-sizing: border-box;
    /* height: 40px; */
}

.chart_section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px
}

.chart_section article {
    display: flex;
    width: 100%;
    height: 320px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.chart_section article h1 {
    font-size: 16px;
}

.chart_section article div{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.chart_section article div img{
    width: 100%;
    height: 250px;
}

.footer {
    display: block;
    width: 100%;
    height: 300px;
}

