html{
    height: 100%;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: white;
    height: 64px;
    width: 100%;
    padding: 0 16px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
}
#chart{
    flex-grow: 1;
    display: flex;
}
/* .aside{
    box-sizing: border-box;
    background-color: white;
    width: 48px;

    padding: 10px;
} */
main{
    flex-grow: 1;
    padding: 20px;
    position: relative;

     }
/* .box{
    background-color: blue;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 48px
} */

.tool-bar{
    height: 64px;
    width: 100%;
    background-color: green;
    padding: 0 16px;
    position: sticky;
    bottom: 150px;
}
.footer{
    background-color: white;
    height: 100px;
    flex-shrink: 0;
}