html{

}
body{
    height: inherit;
    margin: 0;
}
#root{
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between ;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #F9F7F5;
    padding: 16px;
    box-sizing: border-box;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.header>div{
    /* display: flex; */
    font-size: 16px;
}

.logo{

}
.logo>a{
    font-size: 16px;
    font-weight: bold;
    color: #B8672E;
}

.link{
    
}
.link>a{
    color: #494949;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
    background-color: #F9F7F5;
}

.chart-sec{
    width: 100%;
}
.chart-sec>h1{
    text-align: center;
    color: #494949;
    font-weight: bold;
    margin-bottom: 48px;
}

.chart{
    width: 100%;
    margin-bottom: 48px;
}
.chart>h1{
    text-align: center;
    color: #494949;
    font-size: 16px;
}

.chart\:1{
    
}

.chart\:2{
    
}
.chart>div{
    width: 100%;
}
.chart>div>img{
    width: 100%;
}

.tool-bar{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #F9F7F5;

    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.tool-bar>h1{
    display: none;
}

.tool-bar>ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tool-bar>ul>li{
    text-align: center;
    width: 33%;
    height: 64px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.tool-bar>ul>li>a{
    width: 100%;
    
}
.footer{
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;

}
.footer>section{

}
.footer>h1{

}