/* reset.css 및 공통 style.css 제외 스타일 적용 */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    /* boxing */
    height: 64px;
    width: 100%;
    box-sizing: border-box;

    background-color: white;
    flex-shrink: 0;
    padding: 16px;

    position: sticky;
    top: 0;
    z-index: 1000;

    /* 버튼이랑 양옆 정렬을 위함 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 로고랑 헤더 글씨 부분 가운데 정렬 + 서로 사이 갭 4px */
.header .logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* 헤더 제목 링크로 되어있는거 색깔 바꾸기 */
.logo a {
    /* text-decoration: none; */
    color: #B8672E;
}

/* 헤더 공유 부분 버튼 배경색, 테두리 없애기 */
.header button {
    background-color: transparent;
    border: none;
}

main {
    /* boxing */
    flex-grow: 1;
    padding: 20px;

    position: relative;
    display: flex;
    justify-content: center;
}

/* section 안에 있는 text들은 다 가운데 정렬 -> h1에 들어가있는 애들 */
.main {
    width: 100%;
    text-align: center;
}

/* section 자손 h1은  글짜크기 18px, 아래 차트와 간격 48px*/
.main>h1 {
    font-size: 18px;
    margin-bottom: 48px;
}

/* section 후손 article 자손 h1 은 글자크기 16px에, 제목과 차트사이 간격 16px */
.main article>h1 {
    font-size: 16px;
    margin-bottom: 16px;
}

/* section 안에서 첫 번째 article을 제외한 모든 article 위에 48px 간격 주기  */
.main article+article {
    margin-top: 48px;
}

.nav {
    /* boxing */
    height: 64px;
    width: 100%;
    box-sizing: border-box;

    background-color: white;
    padding: 0 48px 12px 48px;

    position: fixed;
    bottom: 0;

    /* 위쪽 선대신 그림자넣기 */
    /* border-top: solid 1px gray; */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.08);
}

/* 네비에 제목은 안보이게 */
.nav>h1 {
    display: none;
}

/* 네비에 각 리스트 세개 정렬되도록 between 넣고 
    리스트 스타일 없애고
    margin, padding 은 기본적으로 ul 에게 주어지는 스타일 없애려고
     */
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/* img를 감싸고있는 li 크기를 48px로 만들어주고 가운데 정렬 */
.nav li {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* a도 크기 키워서 클릭가능 영역을 넓혀서 쉽게 클릭될 수 있도록 조정 
    flex는 한줄차지하고 lnline-flex는 해당 영역만 차지
    나중에 버튼 줄바뀜 위험이 있어서 inline-flex로 설정함
*/
.nav a {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav a img {
    width: 100%;
    height: 100%;
}

.footer {
    display: none;
}