body {
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    font-weight: bold;
    color: #b8672E;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}