html{

}
body{
    height: inherit;
    margin: 0;
}
#root{
    background-color: gray;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between ;
    position: sticky;
    top: 0;
    background-color: green;
    padding: 16px;
    box-sizing: border-box;
}
.header>div{
    /* display: flex; */
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.chart{
    width: 100%;
    height: 1000px;
}
.chart>h1{
    text-align: center;
}


.chart>div{
    width: 100%;
}

article[class$="chart"]{
    
}
article[class$="chart"]>h1{
    text-align: center;
}

.weekly-chart{
    
}

.daily-chart{
    
}

.tool-bar{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #F9F7F5;
}
.tool-bar>h1{
    display: none;
}

.tool-bar>ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.tool-bar>ul>li{
    text-align: center;
    width: 30%;
    height: 64px;
    list-style: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.tool-bar>ul>li>a{
    width: 100%;
    
}
.footer{
    background-color: #f1f1f1;
    padding: 30px;
    box-sizing: border-box;
}
.footer>section{

}
.footer>h1{

}