*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    height: 64px;
    padding: 0 10px;
    background-color: #1B3C53;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header > h1 > a{
    color: white;
}

.share{
    width: 20px;
    height: 20px;
    background-color: red;
}

#chart{
    width: 100%;
    flex-grow: 1;
}

.chart{
    margin: 16px;
    background-color: E3E3E3;
    text-align: center;
    height: 300px;
    background-color: #E3E3E3;
}

.h1{
    text-align: center;
    color: black;
}

.footer-info{
    background-color: gray;
    margin: 10px;
    display: flex;
}


.tool-bar{
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 64px;
    background-color: #456882;
}

.tool-bar > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.tool-bar > ul >li{
    float: left;
}

.tool-bar > ul > li > a{
    color: white;
}

