.main_section {
    gap: 24px;
}

.create-form {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 16px;
    flex-direction: column;
}

.create-form>div{
    display: flex;
    width: 100%;
    height: auto;
    gap: 4px;
    flex-direction: row;
}

.create-form>div>label{
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #494949;
}

.create-form>div>label span {
    font-size: 14px;
    color: red;
}

.create-form>div>label>input[type=text]{
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #BABABA;
    padding: 8px 12px;
}

.create-form>div>label>input[type=number]{
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #BABABA;
    padding: 8px 12px;
}

.create-form>div>label>input[type=file]{
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 6px;
    border: 1px dashed #BABABA;
    padding: 8px 12px;
    background-color: #EBEBEB;
}

.create-form>div>label>select{
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #BABABA;
    padding: 8px 12px;
}

.create-form>div>label>textarea{
    margin-top: 4px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 6px;
    border: 1px solid #BABABA;
    padding: 8px 12px;
    resize: none;
}

.checkbox-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.checkbox-form label {
    font-size: 14px;
    color: #494949;
}

.is-hot-ice-chkbox {
    display: flex;
    justify-content: space-between;
    width: 125px;
    height: 100%;
}

#button-page {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
}

#button-page button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

#button-page button:nth-child(1) {
   background-color: #B8672E;
   color: #FFFF;
}

#button-page button:nth-child(2) {
    background-color: #DBDBDB;
    color: #494949;
 }