/* 개인 */

.main_section {
    gap: 48px
}

.chart_section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 48px
}

.chart_section article {
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.chart_section article h1 {
    font-size: 16px;
    font-family: sans-serif;
}

.chart_section article div{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.chart_section article div img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}