/* 개인 */

/* main_section index의 설정 */
.main_section {
    gap: 48px /* 사이간격 */
}

/* main 안쪽 chart section */
.chart_section {
    display: flex; /* flex 정렬 */
    width: 100%; /* 넓이 채우기 */
    flex-direction: column; /* 세로정렬 */
    gap: 48px /* 사이간격 */
}

/* chart section 안쪽 article */
.chart_section article {
    display: flex; /* flex 정렬 */
    width: 100%; /* 넓이 채우기 */
    height: 350px; /* 높이 지정 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
    gap: 16px; /* 사이 간격 */
}

/* 차트 중간 제목 */
.chart_section article h1 {
    font-size: 16px; /* 글씨 크기 */
    font-family: sans-serif; /* 글씨체 */
}

/* 차트 이미지 */
.chart_section article>div>img{
    width: 100%; /* 넓이 채우기 */
    height: 300px; /* 높이 지정 */
    object-fit: contain; /* 비율 유지하기 */
}