html{
    /* width: 100%; 너비는 기본값으로 100% */
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#root{
    background-color: rgb(239, 237, 237);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.header{
    background-color: white;
    height: 64px;
    padding: 0 16px;
}
.body{
    flex-grow: 1;
    display: flex;
}
.aside{
    background-color: white;
    width: 48px;

    padding: 10px;
}
main{
    flex-grow: 1;
    padding: 20px;
     }
.footer{
    background-color: white;
    height: 100px;
}