
/*
// 가장 큰 박스(박스의 기본 레이아웃(flex 레이아웃),  -> 작은 박스 -> 콘텐츠
1. 가장 밖에 있는 박스 확인
2. 박스의 정렬(오토/수동) 방식 확인
3. 정렬과 여백의 관계 확인
4. 박스의 패딩, 마진 확인
5. 박스 꾸미기 : 쉐도우, 배경, 보더, 등...
6. 크기가 고정된 박스의 오버플로우 처리 확인
-------------------------------------
// 콘텐츠 박스에 대한 스타일
1. 리셋



1. 박스크기
    1. 박스의 기본 크기
    너비 : 100%/inherit
    높이 : 0 -> 자식이 높이를 결정한다.
    2. 가장 상위 박스는?
    html -> body -> div#root -> header, main, footer
    3. 박스의 크기를 설정하기
    크기 단위 : cm, mm, px | em, rem, %, vw, vh
    4. 크기 상속
    - 자식 박스가 부모 박스의 크기를 상속받는다.
        % vs inherit
2. 박스의 여백
    1. 마진
        - 박스의 외부 여백
    2. 패딩
        - 박스의 내부 여백
3. 박스의 배치
    1. 기본 레이아웃
        - 위에서 아래로 배치
        - 왼쪽에서 오른쪽으로 배치
    2. 박스의 레이아웃 설정
        1. flexbox 설정
        - display : flex;
        - flex-direction : row | row-reverse | column | column-reverse;
        2. 박스정렬방식
        - 메인 축 방향 정렬 : justify-content
        - 교차 축 방향 정렬 : align-items
        3. 특정 아이템 정렬
        - justify-self
        - align-self
        4. 특정 아이템 사이에 여백 넣기
        - margin-auto
        ** 모든 정렬은 박스를 이동시키는 것이 아니라 여백을 이동시키는 작업이다.
            즉. 백이여 없으면 정렬도 없다.
        5. 박스 선택
        - class 명으로 선택하는 것이 유리하다.
        6. 정렬과 박스 크기
        - 수직축 크로스 정렬을 할 때는 컨텐츠의 크기가 박스의 크기가 된다.
4. 박싱 실습    
5. 박스에 패딩주기
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    1. 축약표현
        padding: 10px 20px 30px 40px;
        padding: 10px 20px;
    2. 박스크기에 영향을 주는 속성
        padding -> box-sizing: border-box;
6. 박스의 수동 위치
    // 자동위치이므로 절대좌표를 사용할 수 없는 position
    1. position: static;
    // 절대좌표를 이용하는 position 
    - 중요 한 부분은 left/top을 사용할 때 그 원점이 무엇인지에 따라서
    - 다음 4가지 경우가 있다.
    2. position: absolute; // 문서의 좌/상단 꼭지점이 원점
    3. position: fixed;    // 화면의 좌/상단 꼭지점이 원점
    4. position: sticky;
    5. position: relative;
7. shadow : box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
8. background
9. 목록/표/..../
10. 컨텐트
11. 클래스를 잘 정리(...) / 슈도 클래스, 슈도 엘리먼트
*/

:root{
    --heading-color: #494949;
    --heading-size-1: 18px;
    --heading-size-2: 14px; 
    --heading-size-3: 14px;
    --heading-weight-1: bold; 
    --heading-weight-2: normal; 
}
html{
    height: 100%;
}
body{
    height:100%;
    margin:0;
}
#root{
    background-color: #f8f8f8;
    width: 100%; /* 고정크기(cm, mm / px), 가변크기(em, rem, %, vw, vh)*/
    height:100%;
    display: flex;
    flex-direction: column;      
}
/* 공통 분모는 위에 */
.header, 
main{    
    /* background-image: url(../image/pngtree.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    background: url(../image/pngtree.jpg) no-repeat center center;
    background-size: contain;
    background-position: center 100px;
    background-attachment: fixed;    */
}
/* 특화된 속성은 덮어쓸 수 있는 아래에 */
.header{
    /* boxing */
    height: 64px;
    width: 100%;
    /* background-color: yellow; */
    /* background-position: left 0px; */
    padding:0 16px;
    
    position: sticky; 
    top: 0;
}
.body{
    /* boxing */
    /* background-color: transparent;       */
    /* layout */
    flex-grow: 1;
    display: flex;
    /* flex-direction: row; */
}
.aside{
    /* boxing */
    box-sizing: border-box;
    width: 48px;
    background-color: white;
    padding:10px;
}
main{
    /* boxing */
    flex-grow: 1; 
    padding:20px;   
    
    position: relative;
}
/* .heading{    
    color: #494949;
} */
/* .heading\:1, 
.heading\:2,
.heading\:3,
.heading\:4{
    color: #494949;
} */
.heading\:1{
    font-size: var(--heading-size-1);
    font-weight: var(--heading-weight-1);
    color: var(--heading-color);
}
.heading\:2{
    font-size: var(--heading-size-2);
    font-weight: var(--heading-weight-2);
    color: var(--heading-color);
}
.heading\:3{
    font-size: var(--heading-size-3);
    font-weight: var(--heading-weight-2);
    color: var(--heading-color);
}

.n-icon::before{
    font-family: "Material Symbols Outlined";
    display: inline-flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.icon\:favorite::before{
    content: "\e87d";
    color: red;
}
.icon\:settings::before{
    content: "\e8b8";
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tool-bar{
    /* boxing */
    height: 64px;
    width: 100%;
    background-color: rgb(171, 245, 175);
    padding:0 16px;
    
    position: fixed; 
    /* top:500px;     */
    bottom: 0;
}
.footer{
    /* boxing */
    height: 100px;
    background-color: white;      
}