html{
}
body{
    height:inherit;
    margin: 0;
}
#root{
    background-color: gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    flex-shrink: 0;
    background-color: #fff;
    height: 64px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    background-image: url(../image/tree.jpg);
    position: sticky;
    top: 0;
}
.body{
    background-color: #fff;
    flex-grow: 1;
    display: flex;
}
.aside{
    width: 48px;
    background-color: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
}
main{
    background-color: transparent;
    flex-grow: 1;
    padding: 20px;
}

.elevated-btn{
    width: 50px;
    height: 50px;
    background-color: green;
    position:fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 5px 5px 10px 0px rgba(72, 86, 117, 0.3);
    background: linear-gradient(0deg, #ffc6ad 0%, #a094ff 100%);
}

.tool-bar{
    display: flex;
    flex-shrink: 0;
    height: 64px;
    width: 100%;
    background-color: yellowgreen;
    padding: 0 16px;
    position: sticky;
    bottom: 0;
    box-sizing: border-box;
}
.tool-bar>h1{
    font-size: 15px;
}
.tool-bar>ul{
    display: flex;
}
.footer{
    background-color: #fff;
    margin-top: auto;
    height: 100px;
}
/*
박스 기본크기
너비100% 높이:0

가장상위박스는?
html > body > #root

크기 단위 cm mm px | em rem % vw vh

박스의 여백
*/